# Root environment example
DATABASE_URL=postgres://postgres:postgres@localhost:5433/radix_vaults
SERVER_PORT=3001
TEAM_ACCOUNT_ADDRESS=account_rdx129xqyvgkn9h73atyrzndal004fwye3tzw49kkygv9ltm2kyrv2lmda
VITE_RPC_URL=/rpc
TRACER_BULLET_SEED=true
