# Root environment example
DATABASE_URL=postgres://postgres:postgres@localhost:5433/radix_vaults
SERVER_PORT=3001
VITE_RPC_URL=/rpc
TRACER_BULLET_SEED=true

# Auth config
NETWORK_ID=2
DAPP_DEFINITION_ADDRESS=account_tdx_2_12yf9gd53yfep7a669fv2t3wm7nz9zeezwd04n02a433ker8vza6rhe
EXPECTED_ORIGIN=http://localhost:3000
TEAM_MEMBER_BADGE_ADDRESS=resource_tdx_2_1t5gxap3kmagagqmu7hkde5j8nf0c83frwqhfqs35k2pys4c7g8kn6
